body {
  background: #101014;
  min-height: 100vh;
  margin: 0;
  font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
  color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #202025;
  border-radius: 4px;
}
::-webkit-scrollbar {
  width: 8px;
  background: #101014;
}
